# all files and folders are to be ignored...
/*

# except those following
!.gitignore
!CMakeLists.txt
!rawdisk
!core
!daal
!freeinodes
!freedatablocks
!fileblocks
!direntries
!syscalls
!mksofs
!testtool
!sofsmount
!grp_src
