<div id="container">
    <div id="content">
      <form>
        <div class="group">
          <input type="email" /><span class="highlight"></span>
          <span class="bar"></span>
          <label class="label1">Email</label>
        </div>
        <div class="group">
          <input type="password" /><span class="highlight"></span>
          <span class="bar"></span>
          <label class="label1">Password</label>
        </div>
        
        <h5>Are you a:</h5>

        <label class="container">Musician
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">Establishment
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">User
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label><br>

        

        <a href="/" class="button buttonBlue">
          Register
          <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
          </div>
        </a>
  
        <a href="/login">I already have an account</a>
      </form>
    </div>
    <div id="logo">
      <h1>The best music network place</h1>
    </div>
  </div>
  
