<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact1.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact1.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact2.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact2.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact3.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact3.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact4.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact4.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact5.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact5.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact6.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact6.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact7.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact7.smldescription}}</mat-card-subtitle>
</mat-card-header>
<mat-card-header id="contact-container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="contact-user">{{exampleContact8.username}}</mat-card-title>
    <mat-card-subtitle class="contact-descr">{{exampleContact8.smldescription}}</mat-card-subtitle>
</mat-card-header>
<hr class="hrrmc">
