
#contact-container{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#contact-container:hover{
    background-color: #f0f5f5;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.contact-user{
    font-size: medium;
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-descr{
    font-size: smaller;
    margin-bottom: 0;
}

.hrrmc{
    height: 1;
    margin: 0;
}
