<div id="container">
  <div id="content">
    <form>
      <div class="group">
        <input type="email" /><span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
      <div class="group">
        <input type="password" /><span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>
      <a href="/" class="button buttonBlue">
        Login
        <div class="ripples buttonRipples">
          <span class="ripplesCircle"></span>
        </div>
      </a>

      <a href="/register">Register</a>
    </form>
  </div>
  <div id="logo">
    <h1>The best music network place</h1>
  </div>
</div>
