# all files and folders are to be ignored...
/*

# except those following
!.gitignore
!grp_mksofs_CS.cpp
!grp_mksofs_FIT.cpp
!grp_mksofs_FRD.cpp
!grp_mksofs_FRT.cpp
!grp_mksofs_FSB.cpp
!grp_mksofs_RFDB.cpp
